# local package
-e .

# external requirements
mesa
geopandas
mesa-geo
numpy
pandas
matplotlib
seaborn
scikit-learn
jupyter
notebook
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
autopep8
tqdm

click
Sphinx
coverage
awscli
flake8
python-dotenv>=0.5.1
